<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.neuedu.model.mapper.ImageMapper">
	<select id="selectImageById" parameterType="int" resultType="Image">
		select imgurl from image where userid = #{uid}
	</select>



</mapper>